:root {
  /* color */
  --body-base-color: var(--text-paragraph);
  --body-base-link-color: var(--text-link);
  --body-lg-color: var(--text-paragraph);
  --body-lg-link-color: var(--text-link);
  --body-sm-color: var(--text-paragraph);
  --body-sm-link-color: var(--text-link);
  --body-xl-color: var(--text-paragraph);
  --body-xl-link-color: var(--text-link);
  --body-xs-color: var(--text-paragraph);
  --body-xs-link-color: var(--text-link);
  --button-text-base-color: var(--brand-primary);
  --button-text-lg-color: var(--brand-primary);
  --button-text-sm-color: var(--brand-primary);
  --button-text-xl-color: var(--brand-primary);
  --button-text-xs-color: var(--brand-primary);
  --eyebrow-color: var(--text-eyebrow);
  --form-label-color: var(--text-headline);
  --headline-base-color: var(--text-headline);
  --headline-h1-color: var(--text-headline);
  --headline-h2-color: var(--text-headline);
  --headline-h3-color: var(--text-headline);
  --headline-h4-color: var(--text-headline);
  --headline-h5-color: var(--text-headline);
  --headline-h6-color: var(--text-headline);
  --headline-small-color: var(--text-headline);
  --headline-xs-color: var(--text-headline);
  --icon-label-color: var(--text-headline);
  --stat-large-color: var(--text-headline);
  --stat-md-color: var(--text-headline);
  --stat-sm-color: var(--text-headline);
  --table-header-color: var(--text-headline);
  /* number */
  --font-base-mobile: 14px;
  --font-base-desktop: 16px;
  --body-base-letter-spacing: -0.01875000074505806rem;
  --body-base-font-size: 1rem;
  --body-base-font-weight: 400;
  --body-base-link-letter-spacing: -0.01875000074505806rem;
  --body-base-link-font-size: 1rem;
  --body-base-link-font-weight: 600;
  --body-lg-letter-spacing: -0.01875000074505806rem;
  --body-lg-font-size: 1.125rem;
  --body-lg-font-weight: 400;
  --body-lg-link-letter-spacing: -0.01875000074505806rem;
  --body-lg-link-font-size: 1.125rem;
  --body-lg-link-font-weight: 600;
  --body-sm-letter-spacing: -0.01875000074505806rem;
  --body-sm-font-size: 0.875rem;
  --body-sm-font-weight: 400;
  --body-sm-link-letter-spacing: -0.01875000074505806rem;
  --body-sm-link-font-size: 0.875rem;
  --body-sm-link-font-weight: 600;
  --body-xl-letter-spacing: 0rem;
  --body-xl-font-size: 1.375rem;
  --body-xl-font-weight: 400;
  --body-xl-link-letter-spacing: 0rem;
  --body-xl-link-font-size: 1.375rem;
  --body-xl-link-font-weight: 600;
  --body-xs-letter-spacing: -0.01875000074505806rem;
  --body-xs-font-size: 0.75rem;
  --body-xs-font-weight: 400;
  --body-xs-link-letter-spacing: -0.01875000074505806rem;
  --body-xs-link-font-size: 0.75rem;
  --body-xs-link-font-weight: 600;
  --button-text-base-letter-spacing: 0rem;
  --button-text-base-font-size: 1rem;
  --button-text-base-font-weight: 400;
  --button-text-lg-letter-spacing: 0rem;
  --button-text-lg-font-size: 1.125rem;
  --button-text-lg-font-weight: 400;
  --button-text-sm-letter-spacing: 0rem;
  --button-text-sm-font-size: 0.875rem;
  --button-text-sm-font-weight: 400;
  --button-text-xl-letter-spacing: 0rem;
  --button-text-xl-font-size: 1.25rem;
  --button-text-xl-font-weight: 400;
  --button-text-xs-letter-spacing: 0rem;
  --button-text-xs-font-size: 0.75rem;
  --button-text-xs-font-weight: 400;
  --eyebrow-letter-spacing: 0.0062500000931322575rem;
  --eyebrow-font-size: 0.875rem;
  --eyebrow-font-weight: 600;
  --form-label-font-size: 0.875rem;
  --form-label-font-weight: 600;
  --headline-base-font-size: 1rem;
  --headline-base-font-weight: 500;
  --headline-h1-letter-spacing: 0rem;
  --headline-h1-font-size: 4rem;
  --headline-h1-font-weight: 500;
  --headline-h2-letter-spacing: 0rem;
  --headline-h2-font-size: 3.5rem;
  --headline-h2-font-weight: 500;
  --headline-h3-letter-spacing: 0rem;
  --headline-h3-font-size: 2.375rem;
  --headline-h3-font-weight: 500;
  --headline-h4-letter-spacing: 0rem;
  --headline-h4-font-size: 1.75rem;
  --headline-h4-font-weight: 500;
  --headline-h5-letter-spacing: 0rem;
  --headline-h5-font-size: 1.25rem;
  --headline-h5-font-weight: 400;
  --headline-h6-letter-spacing: 0rem;
  --headline-h6-font-size: 1.125rem;
  --headline-h6-font-weight: 500;
  --headline-small-letter-spacing: 0rem;
  --headline-small-font-size: 0.875rem;
  --headline-small-font-weight: 500;
  --headline-xs-letter-spacing: 0rem;
  --headline-xs-font-size: 0.75rem;
  --headline-xs-font-weight: 500;
  --icon-label-letter-spacing: 0rem;
  --icon-label-font-size: 0.625rem;
  --icon-label-font-weight: 600;
  --stat-large-letter-spacing: -0.5rem;
  --stat-large-font-size: 5rem;
  --stat-large-font-weight: 400;
  --stat-md-letter-spacing: -0.0625rem;
  --stat-md-font-size: 2.5rem;
  --stat-md-font-weight: 400;
  --stat-sm-letter-spacing: 0rem;
  --stat-sm-font-size: 1.25rem;
  --stat-sm-font-weight: 400;
  --table-header-letter-spacing: 0rem;
  --table-header-font-size: 1rem;
  --table-header-font-weight: 500;
  /* string */
  --font-sans: Open Sans;
  --font-serif: Lora;
  --body-base-font-family: var(--font-sans);
  --body-base-link-font-family: var(--font-sans);
  --body-lg-font-family: var(--font-sans);
  --body-lg-link-font-family: var(--font-sans);
  --body-sm-font-family: var(--font-sans);
  --body-sm-link-font-family: var(--font-sans);
  --body-xl-font-family: var(--font-sans);
  --body-xl-link-font-family: var(--font-sans);
  --body-xs-font-family: var(--font-sans);
  --body-xs-link-font-family: var(--font-sans);
  --button-text-base-font-family: var(--font-sans);
  --button-text-lg-font-family: var(--font-sans);
  --button-text-sm-font-family: var(--font-sans);
  --button-text-xl-font-family: var(--font-sans);
  --button-text-xs-font-family: var(--font-sans);
  --eyebrow-font-family: var(--font-sans);
  --form-label-font-family: var(--font-sans);
  --headline-base-font-family: var(--font-serif);
  --headline-h1-font-family: var(--font-serif);
  --headline-h2-font-family: var(--font-serif);
  --headline-h3-font-family: var(--font-serif);
  --headline-h4-font-family: var(--font-serif);
  --headline-h5-font-family: var(--font-serif);
  --headline-h6-font-family: var(--font-serif);
  --headline-small-font-family: var(--font-serif);
  --headline-xs-font-family: var(--font-serif);
  --icon-label-font-family: var(--font-sans);
  --stat-large-font-family: var(--font-sans);
  --stat-md-font-family: var(--font-sans);
  --stat-sm-font-family: var(--font-sans);
  --table-header-font-family: var(--font-serif);
}
