# expo
.expo/
expo-env.d.ts
apps/expo/.gitignore

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# dependencies
node_modules
.pnp
.pnp.js

# local env files
.env
.env.keys

# misc
.DS_Store
*.pem

# next.js
.next/
out/
.swc/
next-env.d.tsbuildinfo

# production
build/

# testing
coverage

# turbo
.turbo

# typescript
*.tsbuildinfo
dist/

# ui
dist/

# vercel
.vercel
