:root {
  --black: #000000;
  --card: var(--white, #ffffff);
  --card-50: #ffffff80;
  --card-border: #ede8e3;
  --card-hover: #f7fafe;
  --divider: #0000001f;
  --grey-1: #f3f6f8;
  --grey-2: #e0e9ef;
  --grey-3: #aabfcf;
  --grey-4: #6a8295;
  --grey-5: #35414a;
  --grey-6: #191918;
  --nearly-white: #f8f8f8;
  --site-background: #f8f8f8;
  --transparent: #00000000;
  --white: #ffffff;
  --badge-badgename-bg: #d8e4dd;
  --badge-badgename-text: #13631f;
  --brand-primary: #19376d;
  --brand-primary-dk: #0d1c37;
  --brand-primary-lt: #bac3d3;
  --brand-quaternary: #0b2447;
  --brand-quaternary-dk: #030b15;
  --brand-quaternary-lt: #9da7b5;
  --brand-secondary: #576cbc;
  --brand-secondary-dk: #1a2038;
  --brand-secondary-lt: #dde2f2;
  --brand-tertiary: #a5d7e8;
  --brand-tertiary-dk: #314046;
  --brand-tertiary-lt: #dbeff6;
  --button-primary: var(--brand-primary, #19376d);
  --button-primary-hover: #12274c;
  --button-primary-text: var(--white, #ffffff);
  --button-secondary: var(--brand-primary, #19376d);
  --button-secondary-hover: #12274c;
  --button-secondary-text: var(--brand-primary-dk, #0d1c37);
  --button-tertiary: var(--white, #ffffff);
  --button-tertiary-hover: #f9fafb;
  --button-tertiary-text: var(--brand-primary, #19376d);
  --form-background: var(--white, #ffffff);
  --form-border: #cbd2cc;
  --form-border-active: #3363c9;
  --form-error: #db4245;
  --form-filled: var(--text-headline, #212121);
  --form-icon: #222529;
  --form-label: var(--text-headline, #212121);
  --form-placeholder: #52567a;
  --form-success: #009666;
  --form-warning: #ff8719;
  --text-eyebrow: #636363;
  --text-eyebrow-inverse: var(--grey-2, #e0e9ef);
  --text-headline: #212121;
  --text-headline-inverse: var(--white, #ffffff);
  --text-link: #3363c9;
  --text-link-dark: var(--brand-primary-dk, #0d1c37);
  --text-link-dark-hover: var(--white, #ffffff);
  --text-link-hover: #2e5dc1;
  --text-link-hover-tertiary: var(--button-tertiary-hover, #f9fafb);
  --text-link-light: #77a3ff;
  --text-link-light-hover: #6e99f5;
  --text-link-tertiary: var(--white, #ffffff);
  --text-paragraph: #424242;
  --text-paragraph-inverse: #d4d6de;
  --transparent-primary-dk: #ffffffbf;
  --transparent-primary-lt: #ffffff40;
  --transparent-primary-md: #ffffff80;
  --transparent-secondary-dk: #19376dbf;
  --transparent-secondary-lt: #19376d40;
  --transparent-secondary-md: #19376d80;
  --transparent-tertiary-dk: #576cbcbf;
  --transparent-tertiary-lt: #576cbc40;
  --transparent-tertiary-md: #576cbc80;
}
